<h2>List Product</h2>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td [routerLink]="['/view',product.id]">view</td>
    <td [routerLink]="['/edit',product.id]">Edit</td>
    <td (click)="delete(product.id)">Delete</td>
  </tr>
  </tbody>
</table>
