div{
  display: flex;
}
button{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border: 1px solid #666;
  outline: none;
  -webkit-clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0 38%, 37% 38%);
}
.bg-pink{
  background-color: blue;
}
