<div>
  <button (click)="takeValue(1)" [class.bg-pink]="ratingUnit.active[0]"></button>
  <button (click)="takeValue(2)" [class.bg-pink]="ratingUnit.active[1]"></button>
  <button (click)="takeValue(3)" [class.bg-pink]="ratingUnit.active[2]"></button>
  <button (click)="takeValue(4)" [class.bg-pink]="ratingUnit.active[3]"></button>
  <button (click)="takeValue(5)" [class.bg-pink]="ratingUnit.active[4]"></button>
  <button (click)="takeValue(6)" [class.bg-pink]="ratingUnit.active[5]"></button>
  <button (click)="takeValue(7)" [class.bg-pink]="ratingUnit.active[6]"></button>
  <button (click)="takeValue(8)" [class.bg-pink]="ratingUnit.active[7]"></button>
  <button (click)="takeValue(9)" [class.bg-pink]="ratingUnit.active[8]"></button>
  <button (click)="takeValue(10)" [class.bg-pink]="ratingUnit.active[9]"></button>
</div>
