<div class="container bg-white p-5">
  <h2 class="text-primary mb-5">Edit  Product</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <label for="name">Name Product</label>
      <input type="text" class="form-control" id="name" formControlName="name" [(ngModel)]="product.name">
    </div>
    <div class="form-row">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" formControlName="price" [(ngModel)]="product.price" >
    </div>
    <div class="form-row">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" formControlName="description" [(ngModel)]="product.description">
    </div>
    <div class="form-row mt-3">
      <input type="submit" class="btn btn-primary" value="CREATE">
    </div>
  </form>
</div>

