<div id="create">

  <div class="form-row" style="padding:0 2rem">
    <h2>ADD NEW CUSTOMER</h2>
    <button style="margin-top: 2rem">lIST CUSTOMERS</button>
  </div>
  <form action="" class="form-group">
    <div class="form-row ">
      <div class="form-item col4" >
        <label for="name">Full Name:</label>
        <input type="text" id="name" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>
      <div class="form-item col4">
        <label for="phone">Phone:</label>
        <input type="text" id="phone" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>
      <div class="form-item col4">
        <label for="email">Full Name:</label>
        <input type="text" id="email" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>

    </div>
    <div class="form-row ">
      <div class="form-item col3" >
        <label for="name">Full Name:</label>
        <input type="text" id="name" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>
      <div class="form-item col3">
        <label for="phone">Phone:</label>
        <input type="text" id="phone" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>
      <div class="form-item col3">
        <label for="email">Full Name:</label>
        <input type="text" id="email" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>
      <div class="form-item col3">
        <label for="email">Full Name:</label>
        <input type="text" id="email" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>
    </div>
    <div class="form-row ">
      <div class="form-item col6" >
        <label for="name">Full Name:</label>
        <input type="text" id="name" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>
      <div class="form-item col3">
        <label for="phone">Phone:</label>
        <input type="text" id="phone" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>
      <div class="form-item col3">
        <label for="email">Full Name:</label>
        <input type="text" id="email" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>

    </div>
    <div class="form-row">
      <button type="submit" >Save</button>
      <button type="submit" >Cancel</button>
    </div>
  </form>
</div>
