<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="lab la-accusoft"></span> <span>FURAMA</span></h2>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li><a href="#" class="sidebar-item active"><span class="las la-igloo"></span><span>Home</span></a></li>
      <li><a href="#" class="sidebar-item"><span class="las la-users"></span><span>Customer</span></a></li>
      <li><a href="#" class="sidebar-item"><span class="las la-clipboard"></span><span>Contact</span></a></li>
      <li><a href="#" class="sidebar-item"><span class="las la-users"></span><span>Employee</span></a></li>
      <li><a href="#" class="sidebar-item"><span class="las la-receipt"></span><span>Service</span></a></li>
      <li><a href="#" class="sidebar-item"><span class="las la-user-circle"></span><span>Accounts</span></a></li>
      <li><a href="#" class="sidebar-item"><span class="las la-clipboard-list"></span><span>Tasks</span></a></li>
    </ul>
  </div>
</div>
<div class="main-content">
  <header>
    <h1>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label> Dashboard
    </h1>
    <div class="search-wrapper">
      <span class="las la-search"></span>
      <input type="search" placeholder="Search Here">
    </div>
    <div class="user-wrapper">
      <img src="assets/images/download.jpg" alt="" height="30px" width="30px">
      <div>
        <h4>Join Doe</h4>
        <small>Admin</small>
      </div>
    </div>
  </header>
  <main>
<!--    <app-list-home></app-list-home>-->
    <app-list-customer></app-list-customer>
  </main>
</div>
