<div id="create">

  <div class="form-row" style="padding:0 2rem">
    <h2>UPDATE CUSTOMER</h2>
    <button style="margin-top: 2rem">lIST CUSTOMERS</button>
  </div>
  <form action="" class="form-group">
    <div class="form-row ">
      <div class="form-item col6" >
        <label for="name">Full Name:</label>
        <input type="text" id="name" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>

      <div class="form-item col6">
        <label for="email">Email:</label>
        <input type="text" id="email" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>

    </div>
    <div class="form-row ">
      <div class="form-item col4" >
        <label for="birthday">Birthday:</label>
        <input type="text" id="birthday" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>
      <div class="form-item col4">
        <label for="idCard">ID Card:</label>
        <input type="text" id="idCard" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>
      <div class="form-item col4">
        <label for="phone">Phone:</label>
        <input type="text" id="phone" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>
    </div>
    <div class="form-row ">
      <div class="form-item col6" >
        <label for="address">Address : </label>
        <input type="text" id="address" placeholder="Vd: Andrew ...">
        <small class="error-tag"></small>
      </div>
      <div class="form-item col6">
        <label for="typeCustomer">Type Customer:</label>
        <select id="typeCustomer">
          <option value="">Diamond</option>
          <option value="">Gold</option>
          <option value="">Vip</option>
          <option value="">Normal</option>
        </select>
        <small class="error-tag"></small>
      </div>
    </div>
    <div class="form-row">
      <button type="submit" >Save</button>
      <button type="submit" >Cancel</button>
    </div>
  </form>
</div>
